$blue-accent: #074587;
$blue-lite: #2077d3;
$blue-extra-lite: #629DDB;
$red: #D44035;
$black: #111827;
$white: #f9fafb;

@font-face {
  font-display: swap;
  font-family: 'Comfortaa', sans-serif;
  src: url('/assets/fonts/Comfortaa-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  font-family: sans-serif;
}

:root {
  --accent: #{$blue-accent};
  --link: #{$blue-lite};
  --link-visited: #{$red};
  --black: #{$black};
  --white: #{$white};
  --blue-lite: #{$blue-lite};
  --blue-extra-lite: #{$blue-extra-lite};
  --red: #{$red};

  .caret {
    margin-right: 20px;
  }
}

body {
  font-size: 20px; /* px fallback */
  font-size: 2rem;
  line-height: 1.5; /* a nice line-height */
  display: grid;
  background: var(--white);
  color: var(--black);
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px auto auto 150px;
  grid-template-areas:
      "header header header"
      "hero hero hero"
      "main main main"
      "footer footer footer";

  @media screen and (min-width: 1260px) {
    grid-template-rows: 75px auto auto 150px;
    grid-template-areas:
    "header header header"
    "hero hero hero"
    ". main ."
    "footer footer footer";
  }

  main {
    grid-area: main;
    margin: 3vh 2vw 0 2vw;
  }

  footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  p {
    margin-bottom: 20px;
  }

  a {
    color: var(--link);
  }

  a:visited {
    color: var(--link-visited);
  }
}
