:root {
    --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    --color-light: #F3F4F6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-light: #1F2937;
    }
}

a {
    color: inherit;
}

h2 {
    font-weight: 500;
    font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}
