$blue-accent: #074587;
$blue-lite: #2077d3;
$blue-extra-lite: #629ddb;
$red: #d44035;
$black: #111827;
$white: #f9fafb;

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@font-face {
  font-family: "Comfortaa";
  src: url("/assets/fonts/Comfortaa-Regular.woff") format("woff"),
    url("/assets/fonts/Comfortaa-Regular.ttf") format("truetype");
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --accent: #{$blue-accent};
  --link: #{$blue-lite};
  --link-visited: #{$red};
  --black: #{$black};
  --white: #{$white};
  --blue-lite: #{$blue-lite};
  --blue-extra-lite: #{$blue-extra-lite};
  --red: #{$red};
}

h1,
h2,
h3,
h4,
p,
li {
  max-width: 65ch;
  margin: 1em 0 0 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

body {
  font-size: 20px; /* px fallback */
  font-size: 2rem;
  line-height: 1.6; /* a nice line-height */
  display: grid;
  background: var(--white);
  color: var(--black);
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px auto auto 150px;
  grid-template-areas:
    "header header header"
    "hero hero hero"
    "main main main"
    "footer footer footer";

  @media screen and (min-width: 1260px) {
    grid-template-rows: 75px auto auto 150px;
    grid-template-areas:
      "header header header"
      "hero hero hero"
      ". main ."
      "footer footer footer";
  }

  main {
    grid-area: main;
    margin: 2em 2em;
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  a {
    color: var(--link);
  }

  a:visited {
    color: var(--link-visited);
  }

  pre {
    background-color: #2e3440;
    padding: 5px 15px;
    border-radius: 5px;
  }

  code {
    background-color: #2e3440;
    padding: 0 10px;
    color: #d8dee9;
    border-radius: 5px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
