---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";

const title = "Julien Dendauw";

let currentYear = new Date().getFullYear();
const age = currentYear - 1988;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Julien Dendauw has a portfolio?! Even a blog?! Yes and I'm trying to make complex topics easier to gasp with byte-sized posts!"
    />
    <meta name="author" content="Julien Dendauw" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve("../styles/global.scss")}
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dendauw.tech/" />
    <meta property="og:title" content="Julien Dendauw" />
    <meta
      property="og:description"
      content="Julien Dendauw has a portfolio?! Even a blog?! Yes and I'm trying to make complex topics easier to gasp with byte-sized posts!"
    />
    <meta
      property="og:image"
      content="https://dendauw.tech/assets/images/site-metadata.webp"
    />
  </head>
  <body>
    <Header />
    <Hero />
    <section class="b-about">
      <h2 id="aboutTitle">whoami<span class="caret">_</span></h2>
      <p>
        I'm a {age} years old Belgian software engineer. I first dabbled with website
        creation using Dreamweaver back in the 2000s.
      </p>
      <p>
        After a detour in the communication field, I circled back to development
        and have been honing my skills on (mainly) front-end technologies since
        obtaining my bachelor in 2019.
      </p>
      <p>
        I try my best to make websites use modern CSS and frameworks, while
        remaining
        <a href="https://youtu.be/Sp5_d6coiqU">blazingly fast</a>
        .
      </p>
      <p>
        You can
        <a href="https://github.com/Dauwbot/astro_portfolio/tree/develop">
          read the source-code of this website on Github</a
        >
        . If you would like to reach out, you can always
        <a href="mailto:contact@dauw.cc?subject=🤘 Mail from dauw.cc"
          >send me an email</a
        > or use <a href="/#contact">the form</a>.
      </p>
    </section>
    <section class="b-technologies" id="technologies"></section>
    <section class="b-projects" id="projects"></section>
    <Contact />
    <Footer />

    <script defer>
      const originalRandomPhrases = [
        "I create websites using modern technologies.",
        "I love hiking in the Ardennes.",
        "I enjoy working with CSS.",
        "Stand-up paddleboarding is pretty cool.",
        "I learn by tackling new things.",
      ];
      let randomPhrases = originalRandomPhrases;

      const changeRandomPhrase = () => {
        const previousRandomPhrase =
          document.getElementById("heroPhrase").innerText;
        randomPhrases.length > 1
          ? (randomPhrases = randomPhrases.filter(
              (randomPhrase) => randomPhrase !== previousRandomPhrase
            ))
          : (randomPhrases = originalRandomPhrases.filter(
              (randomPhrase) => randomPhrase !== previousRandomPhrase
            ));
        const randomPhrase =
          randomPhrases[Math.floor(Math.random() * randomPhrases.length)];
        document.getElementById("heroPhrase").innerText = randomPhrase;
      };
    </script>
  </body>
</html>

<style lang="scss">
  .b-about {
    grid-area: about;
  }

  .b-technologies {
    grid-area: technologies;
  }

  .b-project {
    grid-area: projects;
  }

  .caret {
    display: inline;
    animation: blinker 1.25s step-start infinite;
  }
</style>
