---
import TopNavigation from "../components/TopNavigation.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";

const title = "Julien Dendauw";

let currentYear = new Date().getFullYear();
const age = currentYear - 1988;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Julien Dendauw has a portfolio?! Even a blog?! Yes and I'm trying to make complex topics easier to gasp with byte-sized posts!"
    />
    <meta name="author" content="Julien Dendauw" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve("../styles/global.scss")}
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dendauw.tech/" />
    <meta property="og:title" content="Julien Dendauw" />
    <meta
      property="og:description"
      content="Julien Dendauw has a portfolio?! Even a blog?! Yes and I'm trying to make complex topics easier to gasp with byte-sized posts!"
    />
    <meta
      property="og:image"
      content="https://dendauw.tech/assets/images/site-metadata.webp"
    />
  </head>
  <body>
    <TopNavigation />
    <div class="hero">
      <div class="heroContent center">
        <div class="heroText">
          <span class="hero-title">Hello, I'm Julien.</span>
          <form action="" id="randomPhraseForm"></form>
          <h2 class="hero-phrase" id="heroPhrase">
            I create websites using modern technologies.
          </h2>
          <a href="#" onclick="changeRandomPhrase()">Click me</a>
        </div>
      </div>
    </div>
    <main>
      <section id="aboutContent">
        <h2 id="aboutTitle">whoami<span class="caret">_</span></h2>
        <p>
          I'm a {age} years old Belgian software engineer. I first dabbled with website
          creation using Dreamweaver back in the 2000s.
        </p>
        <p>
          After a detour in the communication field, I circled back to
          development and have been honing my skills on (mainly) front-end
          technologies since obtaining my bachelor in 2019.
        </p>
        <p>
          I try my best to make websites use modern CSS and frameworks, while
          remaining
          <a href="https://youtu.be/Sp5_d6coiqU">blazingly fast</a>
          .
        </p>
        <p>
          You can
          <a href="https://github.com/Dauwbot/astro_portfolio/tree/develop">
            read the source-code of this website on Github</a
          >
          . If you would like to reach out, you can always
          <a href="mailto:julien@dendauw.tech?subject=🤘 Mail from dendauw.tech"
            >send me an email</a
          >
          .
        </p>
      </section>
      <section id="technologies"></section>
      <Contact />
    </main>

    <Footer />

    <script defer>
      const originalRandomPhrases = [
        "I create websites using modern technologies.",
        "I love hiking in the Ardennes.",
        "I think CSS is underrated.",
        "Stand-up paddleboarding is cool.",
        "I learn by tackling new things.",
      ];
      let randomPhrases = originalRandomPhrases;

      const changeRandomPhrase = () => {
        const previousRandomPhrase =
          document.getElementById("heroPhrase").innerText;
        randomPhrases.length > 1
          ? (randomPhrases = randomPhrases.filter(
              (randomPhrase) => randomPhrase !== previousRandomPhrase
            ))
          : (randomPhrases = originalRandomPhrases.filter(
              (randomPhrase) => randomPhrase !== previousRandomPhrase
            ));
        const randomPhrase =
          randomPhrases[Math.floor(Math.random() * randomPhrases.length)];
        document.getElementById("heroPhrase").innerText = randomPhrase;
      };
    </script>
  </body>
</html>

<style lang="scss">
  .hero {
    grid-area: hero;
    min-height: 92.5vh;
    background-color: var(--blue-extra-lite);
    background-image: url("/assets/images/coding.min.svg"); /* Fallback */
    background-image: url("/assets/images/coding.min.svg"),
      linear-gradient(to right top, #074587, #245a9c, #3970b1, #4e86c6, #629ddb);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    color: var(--white);
    font-family: "Comfortaa", sans-serif;

    @media screen and (min-width: 1920px) {
      background-position: right;
    }

    .heroContent {
      text-align: center;
      position: absolute;
      top: 75%;
      width: 100%;
      padding: 0 1em;

      .hero-phrase {
        display: none;
      }

      @media screen and (min-width: 1260px) {
        .hero-phrase {
          display: block;
        }
      }

      @media screen and (min-width: 1920px) {
        top: 50%;
        width: 50%;
      }
    }
  }

  @media screen and (min-width: 2560px) {
    main {
      display: grid;
      grid-template-columns: auto 60ch auto;
      grid-template-areas: ". content .";
    }

    #homePageContent {
      grid-area: content;
    }
  }

  .caret {
    display: inline;
    animation: blinker 1.25s step-start infinite;
  }
</style>
