---
import TopNavigation from '../components/TopNavigation.astro';
import ThoughtCard from '../components/ThoughtCard.astro';

let allBlogPosts = Astro.fetchContent('./thoughts/*.md');

let title = 'JDen thoughts';
---
<style lang="scss">
    .thoughtsIntro {
        margin: 30px 0;

        @media screen and (min-width: 1260px) {
            justify-content: flex-start;
            margin-bottom: 50px;
        }

        .thoughtsImage { 
            border-radius: 50%;
            height: 50px;
            margin-right: 25px;
        }

        .thoughtsText {
            margin: 0;
            
            a {
                color: var(--accent);
            }
        }
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <TopNavigation />
    <main>
        <div class="thoughtsIntro center">
            <img src="/assets/images/avatar.jpg" alt="" class="thoughtsImage">
            <p class="thoughtsText">Thoughts by <a href="/">Julien Dendauw</a>.
            <br>More of a journal than a blog.</p>
        </div>
        {
            allBlogPosts.map((post) => {
                if (post.published) {
                    return <ThoughtCard post={post} />
                }
            }
        )}
    </main>
</body>
</html>