<h2>Contact form</h2>
<form name="contact_dendauw.tech" id="contact" method="POST" data-netlify="true">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" class="b-form__text-field" />
  </p>
  <p>
    <label for="email">Email</label><input type="email" name="email" class="b-form__text-field" />
  </p>
  <p>
    <label for="message">Message</label>
    <textarea name="message" class="b-form__text-area"></textarea>
  </p>
  <button type="submit">Send</button>
</form>

<style lang="scss">
  form {
    width: 100%;

    p {
      display: flex;
      flex-direction: column;
    }

    p > label {
      display: inline-block;
      min-width: 15rem;
    }

    .b-form {
      &__text-field {
        height: 3rem;
        min-width: 20rem;
        max-width: 100vw;
      }

      &__text-area {
        min-height: 10rem;
        min-width: 20rem;
        max-width: 100vw;
      }
    }
  }
</style>
