<style lang="scss">
    footer {
        height: 100px;
              box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    }
</style>
<footer>
    <span>Built from scractch by dauwbot</span>
    <div class="footer-crafted"><span>Crafted with </span><a href="https://astro.build"><span>Astro</span></a></div>
</footer>