---
const { post } = Astro.props;
---
<style lang="scss">
  .post-title {
    text-decoration: none;
  }

    h3 {
      font-size: 25px;
      margin-bottom: 10px;
      color: var(--link-color);
    }

    article {
      margin-bottom: 50px;
        span {
          display: block;
          margin-bottom: 10px;
        }
    }
</style>
<div>
    <a href={post.url} class="post-title"><h3>{post.title}</h3></a>
    <article>
        <span>{post.abstract}</span>
        <a href={post.url}>Read entry</a>
    </article>
</div>