<style lang="scss">
    header {
      grid-area: header;
      box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;


      .navLogoAndName {
        a {
          text-decoration: none;
        }

        .navName {
          color: var(--accent);
          font-size: 32px;
        }
      }

      .navLinks a  {
        color: var(--link-color);
        margin-right: 10px;
      }
    }
</style>

<header>
    <nav>
        <div class="navLogoAndName">
            <a href="/" class="linkBlock">
                <h1 class="navName">Julien Dendauw</h1>
            </a>
        </div>
        <div class="navLinks">
          <a href="/thoughts">Thoughts</a>
        </div>
    </nav>
</header>