<style lang="scss">
    header {
      grid-area: header;
      box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      @media screen and (min-width: 1260px) {
        justify-content: space-around;
      }


      .navLogoAndName {
        .linkBlock {
          display: flex;
          align-items: center;
          text-decoration: none;

          .navLogo {
            width: 40px;
            height: 40px;
            padding: 2px;
            border-radius: 10px;
            border: 1px solid var(--accent);
            margin-right: 10px;
  
            @media screen and (min-width: 1260px) {
              width: 50px;
              height: 50px;
              padding: 5px;
              margin-right: 25px;
            }
          }


          .navName {
            color: var(--accent);
            font-size: 40px;
            font-family: Comfortaa, cursive;
            margin-bottom: -6px; /* Font as a 6px dead space under it */
          }
        }
      }

      .navLinks a  {
        color: var(--link-color);
        margin-right: 10px;
        font-family: Comfortaa, cursive;
      }
    }
</style>

<header>
    <nav>
        <div class="navLogoAndName">
            <a href="/" class="linkBlock">
                <img src = "/jd_logo.svg" alt="" class="navLogo"/>
                <h1 class="navName">JDen</h1>
            </a>
        </div>
        <div class="navLinks">
          <a href="/thoughts">Thoughts</a>
          <a href="mailto:julien@dendauw.tech?subject=Contact dendauw.tech">email me</a>
        </div>
    </nav>
</header>