<header>
  <nav>
    <div class="navLogoAndName">
      <a href="/" class="linkBlock">
        <img src="/assets/images/d_logo.svg" alt="" class="navLogo" />
        <h1 class="displaySmallScreen">
          <span class="navSurname">j</span><span class="navName">den</span>
        </h1>
        <h1 class="displayBigScreen">
          <span class="navSurname">julien</span><span class="navName"
            >dendauw</span
          >
        </h1>
      </a>
    </div>
    <div class="navLinks">
      <a class="displayBigScreen" href="/#about">about</a>
      <a href="/thoughts">thoughts</a>
      <a href="/#contact" class="linkAsButton">contact</a>
    </div>
  </nav>
</header>

<style lang="scss">
  header {
    grid-area: header;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 2em;

    .displaySmallScreen,
    .displayBigScreen {
      margin: 0;
    }

    .displayBigScreen {
      display: none;
    }

    @media screen and (min-width: 1260px) {
      justify-content: space-around;
      padding: 0; /* We can remove the padding since items will be centered */

      .displaySmallScreen {
        display: none;
      }

      .displayBigScreen {
        display: inline;
      }
    }

    .navLogoAndName {
      .linkBlock {
        display: flex;
        align-items: center;
        text-decoration: none;

        .navLogo {
          display: none;

          @media screen and (min-width: 1260px) {
            display: inline;
            width: 5rem;
            height: 5rem;
            padding: 0.3rem;
            margin-right: 2.5rem;
            border-radius: 1rem;
            border: 0.2rem solid var(--link);
          }
        }

        .navSurname {
          color: var(--blue-lite);
          transition: color 0.5s;
        }
        .navName {
          color: var(--accent);
          transition: color 0.5s;
        }

        &:hover {
          .navSurname {
            color: var(--accent);
          }
          .navName {
            color: var(--blue-lite);
          }
        }
      }
    }

    .navLinks {
      a {
        position: relative;
        font-size: 2rem;
        font-weight: 500;
        color: var(--link);
        text-decoration: none;
        letter-spacing: 0.1rem;
        text-shadow: 0 0 0.1rem rgb(255 255 255 / 30%);

        &:not(:last-child)::after {
          position: absolute;
          top: calc(100% + 1rem);
          left: 0;
          width: 100%;
          height: 0.2rem;
          background: rgba(0, 0, 0, 0.1);
          content: "";
          opacity: 0;
          -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
          -moz-transition: opacity 0.3s, -moz-transform 0.3s;
          transition: opacity 0.3s, transform 0.3s;
          -webkit-transform: translateY(1rem);
          -moz-transform: translateY(1rem);
          transform: translateY(1rem);
        }

        &:not(:last-child):hover {
          color: var(--accent);

          &::after {
            opacity: 1;
            -webkit-transform: translateY(0rem);
            -moz-transform: translateY(0rem);
            transform: translateY(0rem);
          }
        }
      }

      :not(:last-child) {
        margin-right: 2rem;
      }

      .linkAsButton {
        position: relative;
        display: inline-block;
        color: var(--white);
        background-color: var(--blue-lite);
        padding: 1.25rem 5rem;
        border-radius: 1rem;
        transition: background-color 0.3s;
        border: solid 1px transparent;

        &::before {
          position: absolute;
          content: "\279C";
          font-size: 2rem;

          left: 75%;
          opacity: 0;
          transition: all 0.3s, transform 0.3s;
        }

        &:hover {
          background-color: var(--white);
          color: var(--blue-lite);
          border: solid 1px var(--blue-lite);

          &::before {
            -webkit-transform: translateX(.5rem);
            -moz-transform: translateX(.5rem);
            transform: translateX(.5rem);
            opacity: 1;
          }
        }
      }
    }
  }
</style>
